replicaCount: 2

image:
  repository: 15121993/app  # Replace with your Docker Hub repo
  tag: "latest"
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000
  targetPort: 3000

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: app.example.com       # Replace with your hostname
      paths:
        - path: /
          pathType: Prefix
        - path: /health
          pathType: Prefix

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

env:
  NODE_ENV: production
  PORT: "3000"
