replicaCount: 2

image:
  repository: 15121993/app  # Replace with your Docker Hub repo
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000
  targetPort: 3000

ingress:
  enabled: true
  className: nginx
  hosts:
    - host: app.example.com       # Replace with your hostname
      paths:
        - path: /
          pathType: Prefix
  tls: []

config:
  appMessage: "Hello from ConfigMap"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

env:
  NODE_ENV: development
  PORT: "3000"
